.productName{

display: flex;
margin-bottom: 20px;
height: 70px;
padding-bottom: 30px;
padding-left: 10px;
}
.milkform{
      background-color: #10beea;
   
    padding: 20px;
    margin: 200px;
    border-radius: 20px;
    border-left: 30px;  
    margin-bottom: 30px;
    color:rgb(237, 98, 193);
  
   
    padding-left: 20px;
    padding-right: 30px;
    border-width: 30px;
    justify-items: center;
    border-width: 20px;
    padding-top:20px;
    display: flex;
    

}
.productQuantity{
    display: flex;
   
   
    border-left: 25px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
   

 
    padding-left: 10pxA;
    color: rgb(4, 255, 34);
    padding-block-end: 10px;
    background-color: blueviolet;
    
    padding-right: 10px;
    justify-items: center;
    
}
.productPrice{
    display: flex;
    border-radius: 20px;
    border-width: 20px;
    border-left: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
    justify-items: center;
    margin-right: 10px;
    margin-left: 10px;
  
   
     padding-left: 10px;
     padding-right: 10px;
     background-color: blueviolet;
    width: 20px;
    color: rgb(4, 255, 34);
   
   
    
}
.contactNumber{
  
    border-radius: 20px;
    border-width: 30px;
    border-left: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
  border-color: rgb(145, 40, 40);
    margin-right: 10px;
    padding-left: 10px;
   
   
    color: rgb(253, 246, 39);

    background-color: blueviolet;
}
