.productName{

display: flex;
}
.milkform{
      background-color: #00ceff;
    height: 69vh;
    padding: 40px;
    margin: 270px;
}
.productQuantity{
    display: flex;
    border-radius: 10px;
    border-width: 20px;
    border-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-items: center;
    margin-right: 10px;
    height: 80px;
    padding-bottom: 10px;

}

